*.class
*.jar
.cache/
.cpcache/
.idea/
.lein-deps-sum
.lein-failures
.lein-plugins/
.lein-repl-history
.nrepl-port
/checkouts/
/classes/
/dev-resources/dev/config/user.*.props
/lib/
/node_modules/
/target/
pom.xml
pom.xml.asc
