{:linters {:missing-docstring {:level :warning}
           :unsorted-required-namespaces {:level :warning}}
 :lint-as {app.database.hugsql/dfn clojure.core/declare
           mount.core/defstate clojure.core/def
           mount.tools.macrovich/deftime clojure.core/do
           rum.core/defc clj-kondo.lint-as/def-catch-all
           rum.core/defcs clj-kondo.lint-as/def-catch-all
           rum.core/defcc clj-kondo.lint-as/def-catch-all}}